[push]
	default = upstream
[user]
	name = Michael McVeigh
	email = mick@m-mcveigh.com
[color]
	ui = auto
[core]
	excludesfile = /Users/michaelv/.gitignore
[github]
	user = michaelmcv
[diff]
	submodule = log
[column]
	ui = auto,dense
